*ipynb_checkpoints
release_files
external
utils/bbox_utils.c
utils/build
utils/bbox_utils.so
renderer/blender
*cachedir*
*.ipynb
*.pyc
ipyNb
torchNb
renderer/blender
.timedBar
*Debug*
*.o
*.so
*.nfs000*
.idea
core.*
